In [1]:
path = './data'
def get_data_path(data_path):
    return path + '/' + data_path

In [2]:
data_path = 'daily-mail_user_comments.csv'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(get_data_path(data_path))

In [7]:
df.columns

Index([' author_id', 'commend_id'], dtype='object')

In [19]:
df[df['commend_id'] == 313057.0]

      author_id  commend_id
786         786      313057

In [20]:
author_id = 786

In [10]:
author_mapping_file = '/mnt/data/datasets/newspapers/daily-mail' + '/authors.csv'

In [11]:
df_author_mappings = pd.read_csv(author_mapping_file)

In [14]:
df_author_mappings.columns

Index(['comment_author_id', 'comment_author'], dtype='object')

In [21]:
df_author_mappings[df_author_mappings['comment_author_id'] == author_id]

     comment_author_id comment_author
786                786           Dave

In [17]:
df[df[' author_id'] != 84].describe()

          author_id    commend_id
count  1.764556e+06  1.764556e+06
mean   8.822785e+05  7.316266e+01
std    5.093836e+05  8.998445e+02
min    0.000000e+00  1.000000e+00
25%    4.411398e+05  1.000000e+00
50%    8.822785e+05  2.000000e+00
75%    1.323417e+06  9.000000e+00
max    1.764556e+06  3.130570e+05

In [22]:
df.describe()

          author_id    commend_id
count  1.764557e+06  1.764557e+06
mean   8.822780e+05  7.352156e+01
std    5.093839e+05  1.018337e+03
min    0.000000e+00  1.000000e+00
25%    4.411390e+05  1.000000e+00
50%    8.822780e+05  2.000000e+00
75%    1.323417e+06  9.000000e+00
max    1.764556e+06  6.333730e+05