In [1]:
from dask.distributed import Client, progress
client = Client(n_workers=1, threads_per_worker=4, memory_limit='4GB')

In [13]:
import pandas as pd

In [2]:
client

In [3]:
import dask.dataframe as dd

In [4]:
comments_meta_path = './data/daily_mail_preprocess.csv'

In [14]:
df = dd.read_csv(comments_meta_path, dtype={' article_id': 'object'})

In [15]:
df.head(3)

   commend_id  article_id   author_id
0   101072959   3257063.0           0
1   101100299   3257066.0           1
2   101093966   3257066.0           2

In [16]:
result = df.groupby([' author_id'])['commend_id'].count()

In [17]:
computed_df = result.compute()

In [18]:
computed_df.size

1764557

In [19]:
computed_df.to_frame().to_csv('./data/daily-mail_user_comments.csv')