In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('/mnt/data/vikuen/data/guardian/' + 'train-set_all.csv')

In [5]:
o = train_df.groupby('author_id')['comment_id'].count().reset_index()

In [17]:
o[o['comment_id'] > 1].sum()

author_id     21600076777
comment_id        3755960
dtype: int64

In [14]:
x = np.load('/mnt/data/vikuen/data/guardian/train_author_ids.npy')

In [16]:
len(x)

95617

In [19]:
train_df.timestamp = pd.to_datetime(train_df.timestamp)

In [20]:
train_df.sort_values(by='timestamp')

,article_id,author_id,comment_id,timestamp,parent_comment_id,upvotes
1338903,198940,35295,90280784,2016-12-31 23:00:39+00:00,90280286.0,17
1338977,198940,435716,90280789,2016-12-31 23:00:46+00:00,90280435.0,15
1338817,198940,31946,90280826,2016-12-31 23:02:03+00:00,90280562.0,2
1921707,296842,37742,90280843,2016-12-31 23:02:39+00:00,90276501.0,2
1338738,198940,28246,90280846,2016-12-31 23:02:45+00:00,90280144.0,16
...,...,...,...,...,...,...
3240111,517586,33841,99553263,2017-05-31 23:59:43+00:00,99552715.0,1
1015209,154037,32040,99553273,2017-05-31 23:59:51+00:00,NaN,8
2883720,456586,149522,99553275,2017-05-31 23:59:54+00:00,99532997.0,2
3408232,541979,243030,99553276,2017-05-31 23:59:54+00:00,99552672.0,5
2569170,403676,22859,99553279,2017-05-31 23:59:56+00:00,99553181.0,3